<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,
     minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <!--必须引入的组件-->
    <script src="../../js/bridgeproxy.js"></script>
    <script src="../js/DynamicCalcPageSize.js"></script>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css">
    <!--jquery 库-->
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        /**
         Android默认调用的方法
         用来初始化页面的数据
         */
        function showJson(vars) {

        };

    </script>

</head>
<body>
    <div>
        简单摸板
        https://youzan.github.io/vant/#/zh-CN/sku

    </div>
</body>
</html>